<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  配置dao层的接口位置 -->
<mapper namespace="com.bdqn.dao.UserDao">
	
	
	
	<select id="selectAll" resultType="com.bdqn.entity.User">
		select * from user
	</select>
	
	
</mapper>
